<!-- bank user actions -->
<div class="container action-div py-5 bg-transparent rounded-0">
    <div class="row">
        <div class="col-12">
            <h3 class="font-monospace text-center text-light fw-bolder display-4">
                <div class="heading-icon my-3 me-3 text-center justify-content-center px-1 py-0 bg-info d-inline-block">
                    <h1 class="text-center text-light fw-bolder display-5 m-2"><i class="fa-solid fa-circle-user"></i>
                    </h1>
                </div>BANK EMPLOYEE SERVICES
            </h3>
            <div class="underline border border-5 border-bottom border-info w-75 mx-auto"></div>
            <div class="underline border border-2 border-bottom border-info"></div>
        </div>
    </div>
    <!-- action buttons -->
    <div class="row px-4 py-5 justify-content-center gap-5 my-5">
        <div class="col-4 px-0 "><a href="#create-employee" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-user-plus me-2"></i>CREATE BANK EMPLOYEE A/c.</a>
        </div>
        <div class="col-4 px-0"><button data-bs-toggle="modal" data-bs-target="#fetchAllUsers" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-download me-2"></i>GET ALL BANK USERS</button>
        </div>
    </div>
    <div class="row px-4 py-5 justify-content-center gap-5 my-5">
        <div class="col-4 px-0"><button data-bs-toggle="modal" data-bs-target="#empChangePassword" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-key me-2"></i>CHANGE PASSWORD</button>
        </div>
        <div class="col-4 px-0"><button data-bs-toggle="modal" data-bs-target="#empDeactivateAccount" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-trash-can me-2"></i>DEACTIVATE EMPLOYEE A/c.</button>
        </div>
    </div>
</div>