<!-- bank user actions -->
<div class="container action-div py-5 bg-transparent rounded-0">
    <div class="row">
        <div class="col-12">
            <h3 class="font-monospace text-center text-light fw-bolder display-4"><div class="heading-icon my-3 me-3 text-center justify-content-center px-1 py-0 bg-info d-inline-block"><h1 class="text-center text-light fw-bolder display-5 m-2"><i class="fa-solid fa-circle-user"></i></h1></div>BANK USER SERVICES</h3>
            <div class="underline border border-5 border-bottom border-info w-75 mx-auto"></div>
            <div class="underline border border-2 border-bottom border-info"></div>
        </div>
    </div>
    <!-- action buttons -->
    <div class="row px-4 py-5 justify-content-center gap-5 my-5">
        <div class="col-3 px-0 "><a href="#create-user" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-user-plus me-2"></i>CREATE BANK A/c.</a>
        </div>
        <div class="col-3 px-0"><a data-bs-toggle="modal" data-bs-target="#balanceInquiry" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-sack-dollar me-2"></i>BALACNCE INQUIRY</a>
        </div>
        <div class="col-3 px-0">
            <a data-bs-toggle="modal" data-bs-target="#deposite" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-hand-holding-dollar me-2"></i>DEPOSITE</a>
        </div>
    </div>
    <div class="row px-4 py-5 justify-content-center gap-5 my-5">
        <div class="col-3 px-0"><a data-bs-toggle="modal" data-bs-target="#withdraw" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-circle-dollar-to-slot me-2"></i>WITHDRAWAL</a>
        </div>
        <div class="col-3 px-0"><a data-bs-toggle="modal" data-bs-target="#changePin" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-key me-2"></i>CHANGE PIN</a>
        </div>
        <div class="col-3 px-0"><a data-bs-toggle="modal" data-bs-target="#userDeactivateAccount" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-trash-can me-2"></i>DEACTIVATE A/c.</a>
        </div>
    </div>
</div>