<div class="container bg-white rounded-0 mt-5 mb-0 py-5 px-3" id="create-employee">

    <div class="font-monospace col-12">
        <div class="heading-icon my-3 mx-auto text-center justify-content-center px-4 pt-3 pb-2 bg-info"><h1 class="text-center text-white fw-bolder display-5"><i class="fa-solid fa-user-tie me-1"></i></h1></div>
        <h2 class="font-monospace text-center text-muted fw-bolder display-5">CREATE BANK EMPLOYEE ACCOUNT</h2>
        <div class="underline border border-5 border-bottom border-info w-50 mx-auto"></div>
        <div class="underline border border-2 border-bottom border-info"></div>
    </div>
    <form (ngSubmit)="createEmployee()">
        <!-- username -->
        <div class="row mb-3 mt-5 form-group my-3 col-10 mx-auto text-muted font-monospace">
            <label class="col-sm-4 col-form-label"><i class="fa-solid fa-at me-1 text-p"></i>
                Username</label>
            <div class="col-sm-8">
                <input [(ngModel)]="employee.empUsername" type="text" class="form-control shadow font-monospace rounded-0"
                name="username" placeholder="Enter Employee Username Here">
            </div>
        </div>
        <!-- firstName -->
        <div class="row mb-3 mt-5 form-group my-3 col-10 mx-auto text-muted font-monospace">
            <label class="col-sm-4 col-form-label"><i class="fa-solid fa-id-card me-1 text-p"></i>
                First Name </label>
            <div class="col-sm-8">
                <input [(ngModel)]="employee.fname" type="text" class="form-control shadow font-monospace rounded-0"
                name="fname" placeholder="Enter Employee First Name Here">
            </div>
        </div>
        <!-- lastName -->
        <div class="row mb-3 mt-5 form-group my-3 col-10 mx-auto text-muted font-monospace">
            <label class="col-sm-4 col-form-label"><i class="fa-regular fa-id-card me-1 text-p"></i>
                Last Name </label>
            <div class="col-sm-8">
                <input [(ngModel)]="employee.lname" type="text" class="form-control shadow font-monospace rounded-0"
                name="lname" placeholder="Enter Employee Last Name Here">
            </div>
        </div>

        <!-- password -->
        <div class="row mb-3 mt-5 form-group my-3 col-10 mx-auto text-muted font-monospace">
            <label class="col-sm-4 col-form-label"><i class="fa-solid fa-lock me-1 text-p"></i>
                Password </label>
            <div class="col-sm-8">
                <input [(ngModel)]="employee.password" type="password" class="form-control shadow font-monospace rounded-0"
                name="password" placeholder="Enter Employee Password Here">
            </div>
        </div>


        <div class="d-grid col-3 mx-auto my-5">
            <button type="submit" class="font-monospace btn-shadow text-decoration-none text-center"><i class="fa-solid fa-user-plus me-2"></i>CREATE EMPLOYEE ACCOUNT</button>
        </div>
    </form>
</div>
<!-- wave -->
<div class="wave my-0 py-0 w-100"><img class="w-100" src="../../../../assets/img/wavesOpacityWhite.svg"></div>


