<!-- bank user actions -->
<div class="container action-div py-5 bg-transparent rounded-0">
    <div class="row">
        <div class="col-12">
            <h3 class="font-monospace text-center text-light fw-bolder display-4">
                <div class="heading-icon my-3 me-3 text-center justify-content-center px-1 py-0 bg-info d-inline-block">
                    <h1 class="text-center text-light fw-bolder display-5 m-2"><i class="fa-solid fa-circle-user"></i>
                    </h1>
                </div>BANK MANAGER SERVICES
            </h3>
            <div class="underline border border-5 border-bottom border-info w-75 mx-auto"></div>
            <div class="underline border border-2 border-bottom border-info"></div>
        </div>
    </div>
    <!-- action buttons -->
    <div class="row px-4 py-5 justify-content-center gap-5 my-5">
        <div class="col-4 px-0 "><a href="#create-manager" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-user-plus me-2"></i>CREATE BANK MANAGER A/c.</a>
        </div>
        <div class="col-4 px-0"><button data-bs-toggle="modal" data-bs-target="#managerFetchAllUsers" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-download me-2"></i>GET ALL BANK USERS</button>
        </div>
    </div>
    <div class="row px-4 py-5 justify-content-center gap-5 my-5">
        <div class="col-4 px-0 "><button data-bs-toggle="modal" data-bs-target="#managerFetchAllEmps" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-download me-2"></i>GET ALL BANK EMPLOYEES</button>
        </div>
        <div class="col-4 px-0"><button data-bs-toggle="modal" data-bs-target="#managerChangePassword" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-key me-2"></i>RESET ACCOUNT PASSWORD</button>
        </div>
    </div>
    <div class="row px-4 py-5 justify-content-center gap-5 my-5">
        <div class="col-3 px-0"><button data-bs-toggle="modal" data-bs-target="#managerDeactivateUser" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-trash-can me-2"></i>BANK USER A/c.</button>
        </div>
        <div class="col-3 px-0"><button data-bs-toggle="modal" data-bs-target="#managerDeactivateEmp" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-trash-can me-2"></i>DEACTIVATE EMPLOYEE A/c.</button>
        </div>
        <div class="col-3 px-0"><button data-bs-toggle="modal" data-bs-target="#managerDeactivateAccount" class="btn action-btn fw-bolder font-monospace fs-9 w-100 m-0 py-4"><i
                    class="fa-solid fa-trash-can me-2"></i>DEACTIVATE MANAGER A/c.</button>
        </div>
    </div>
</div>